.range {
	padding-right: 121px !important;
}

ion-scroll {
	width: 100%;
	height: 50%;
	.rangeSlider__div {
		width: 300%;
		height: 100px; 
	}
}

/*.irs-bar {
	position: fixed !important;
}

.irs-slider {
	position: absolute;
}*/
